{{>partials/header}}

<h1> Editar Usuário </h1>

    <form action="/editar/{{#user}}{{id}}{{/user}}" method="post">

        Nome:<br>
        <input type="text" id="nome" name="nome" value="{{user.nome}}" ><br>
        Email:<br>
        <input type="email" id="email" name="email" value="{{user.email}}"><br><br>
        <input type="submit" value="Salvar Alterações">
        
    </form> 

   <a href="/usuarios"> clique aqui</a> para voltar a página de usuarios

{{>partials/footer}}